ShieldSchedule-Client/build
ShieldSchedule-Client/dist
ShieldSchedule-Server/target
ShieldSchedule-Client/nbproject/private/private.xml
ShieldSchedule-Client/nbproject/private/private.properties
/ShieldSchedule-Shared/target/